@model IEnumerable<CRUD_Com_Procedures.Models.Matricula>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de alunos matriculados</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Fazer uma nova matricula</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataMatricula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeCurso)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataMatricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCurso)
            </td>
            <td>
                    <a asp-action="Edit" class="btn btn-success" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" class="btn btn-warning" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" class="btn bg-danger" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
